## In this exercise, we are going to do a match of two datasets that have information about locations. To solve this problem, we are going to use a Levenshtein distance, using the fuzz ratio function that Python have to compare strings.

### To start, we import the databases and create a conection with MySQL workbench in order to get the info in the RDBMS and make some queries to understan the data.

In [1]:
## Acá importamos la libreria Pandas y hacemos instalacion de paquete de mysqlclient
import pandas as pd
from sqlalchemy import create_engine, text
!pip install mysqlclient

# Vamos a Leer los datos desde la ruta donde los tenemos guardados en el pc

base_a = pd.read_csv('C:/Users/Abril/PREMISE/prueba_data/base_a.csv')
base_b = pd.read_excel('C:/Users/Abril/PREMISE/prueba_data/base_b.xlsx')

Requirement already satisfied: mysqlclient in c:\users\abril\anaconda3\lib\site-packages (2.2.0)

In [2]:
# Crear conexión a la base de datos MySQL
engine = create_engine('mysql://root:toor@localhost:3306/premise')

In [3]:
# Guardar en la base de datos
base_a.to_sql('base_a', engine, index=False, if_exists='replace')
base_b.to_sql('base_b', engine, index=False, if_exists='replace')

6039

### Clean and Standardize Data: we switch all the string data in lower.

In [4]:
#Convertimos 
from sqlalchemy import create_engine, text

# Create an engine
engine = create_engine('mysql://root:toor@localhost:3306/premise')

# Connect to the database
connection = engine.connect()

# Start a transaction
trans = connection.begin()

try:
    # Run the SQL query for data cleaning and standardization
    clean_sql = """
    UPDATE base_a SET 
        NombreEstablecimiento = LOWER(NombreEstablecimiento),
        NombrePropietario = LOWER(NombrePropietario),
        Direccion = LOWER(Direccion),
        Ciudad = LOWER(Ciudad);
        
    UPDATE base_b SET 
        NombreEstablecimiento = LOWER(NombreEstablecimiento),
        NombrePropietario = LOWER(NombrePropietario),
        Direccion = LOWER(Direccion),
        Ciudad = LOWER(Ciudad);
    """
    
    # Execute the query
    connection.execute(text(clean_sql))
    
    # Commit the transaction
    trans.commit()
    
except:
    # Rollback the transaction in case of error
    trans.rollback()
    raise

finally:
    # Close the connection
    connection.close()

### At this point, we try to create a query for the exact match of the points in the datasets, but we could not find any match, so we have to found a different approach.

In [5]:
# Connect to the database again
connection = engine.connect()

# Start a transaction
trans = connection.begin()

try:
    # SQL query for exact matching
    exact_match_sql = """
    CREATE TABLE exact_matches AS
    SELECT A.*, B.ID AS ID_from_base_b
    FROM base_a A
    INNER JOIN base_b B ON 
        A.NombreEstablecimiento = B.NombreEstablecimiento AND
        A.NombrePropietario = B.NombrePropietario AND
        A.Direccion = B.Direccion AND
        A.Ciudad = B.Ciudad AND
        A.GPS = B.GPS;
    """
    
    # Execute the query
    connection.execute(text(exact_match_sql))
    
    # Commit the transaction
    trans.commit()
    
except Exception as e:
    # Rollback the transaction in case of error
    trans.rollback()
    print(f"An error occurred: {e}")
    
finally:
    # Close the connection
    connection.close()

In [6]:
!pip install tqdm

Requirement already satisfied: tqdm in c:\users\abril\anaconda3\lib\site-packages (4.64.0)
Requirement already satisfied: colorama in c:\users\abril\anaconda3\lib\site-packages (from tqdm) (0.4.4)

### So we try to do the fuzzy match for the attribute "NombreEstablecimiento". We got different good matches, but we still have to improve the accuracy

In [ ]:
from fuzzywuzzy import fuzz
from tqdm import tqdm
tqdm.pandas()

# Connect to the database again
connection = engine.connect()

# Fetch the data from the database
base_a_df = pd.read_sql("SELECT * FROM base_a", connection)
base_b_df = pd.read_sql("SELECT * FROM base_b", connection)

# Define the fuzzy matching function
def fuzzy_match(row):
    best_match = None
    best_score = 0
    
    for _, match_row in base_b_df.iterrows():
        score = fuzz.ratio(row['NombreEstablecimiento'], match_row['NombreEstablecimiento'])
        if score > best_score:
            best_score = score
            best_match = match_row['ID']
            
    if best_score >= 85:  # Setting a threshold
        return best_match
    
    return None

# Perform fuzzy matching with progress bar
base_a_df['ID_from_base_b'] = base_a_df.progress_apply(fuzzy_match, axis=1)

# You can save this DataFrame back to a new SQL table or update the existing one, as needed.
base_a_df.to_sql('base_a_with_matches', connection, if_exists='replace', index=False)

# Close the database connection
connection.close()

### Data cleanning fot the attribute of the GPS Data in order to be compared.

In [8]:
from fuzzywuzzy import fuzz
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.metrics.pairwise import linear_kernel
from tqdm import tqdm
import numpy as np
import re
tqdm.pandas()

# Connect to the database again
connection = engine.connect()

# Fetch the data from the database
base_a_df = pd.read_sql("SELECT * FROM base_a", connection)
base_b_df = pd.read_sql("SELECT * FROM base_b", connection)


# Function to clean GPS strings
def clean_gps_string(gps_str):
    if gps_str is None or not isinstance(gps_str, str):
        return None  # or return str(gps_str), depending on your needs
    
    try:
        # Step 1: Remove quotes if present
        cleaned_str = re.sub(r"[\"']", "", gps_str)
        
        # Step 2: Replace semicolon with a comma if present
        cleaned_str = cleaned_str.replace(";", ",")
        
        # Step 3: Replace a period that separates the coordinates with a comma
        cleaned_str = re.sub(r'(\-?\d+\.\d+)\.(\-?\d+\.\d+)', r'\1,\2', cleaned_str)
        
        # Step 4: If comma appears within a coordinate (which is likely an error), replace it with a period
        cleaned_str = re.sub(r'(\-?\d+),(\d+)', r'\1.\2', cleaned_str)
        
        # Step 5: Replace multiple consecutive periods with a single one
        cleaned_str = re.sub(r"\.{2,}", ".", cleaned_str)
        
        # Check if cleaned_str can be converted to coordinates
        x, y = map(float, cleaned_str.split(","))
        
        return cleaned_str
    except ValueError:
        return None  # Skip problematic GPS data
    
    # Clean the GPS coordinates
base_a_df['cleaned_GPS'] = base_a_df['GPS'].apply(clean_gps_string)
base_b_df['cleaned_GPS'] = base_b_df['GPS'].apply(clean_gps_string)

# Update the existing records in MySQL tables
base_a_df.to_sql('base_a',connection,if_exists='replace',index=False)
base_b_df.to_sql('base_b',connection,if_exists='replace',index=False)

6039

In [15]:
base_a_df.dtypes

idRegistroEncuesta         int64
idEstablecimiento          int64
NombreEstablecimiento     object
NombrePropietario         object
Direccion                 object
Ciudad                    object
GPS                       object
StickerQR                  int64
Canal                     object
Localidad                  int64
SubLocalidad               int64
cleaned_GPS               object
ID_from_base_b           float64
dtype: object

### Finally, we do the the fuzzy match with "NombreEstablecimiento", "Ciudad" and "direccion". So we create a function that uses "fuzz.ratio" the native function from the library, and weighted the matcht of these three attributtes to get a better assurance. We collect the result on MySQL workbench and we obtain 1601 matches with high quality and just with one repetitive data. This function solve the problem for the matching of two databases

In [14]:

# Enhanced fuzzy matching function
def enhanced_fuzzy_match(row):
    best_match = None
    best_score = 0
    
    for _, match_row in base_b_df.iterrows():
        score1 = fuzz.ratio(row['NombreEstablecimiento'], match_row['NombreEstablecimiento'])
        score2 = fuzz.ratio(row['Ciudad'], match_row['Ciudad'])
        score3 = fuzz.ratio(row['Direccion'], match_row['Direccion'])
        
        weighted_score = (score1 + score2 + score3) / 3.0  # Updated the average calculation

        if weighted_score > best_score:
            best_score = weighted_score
            best_match = match_row['ID']
            
    if best_score >= 85:
        return best_match  
    return None

# Apply the enhanced fuzzy matching function with a progress bar
base_a_df['ID_from_base_b'] = base_a_df.progress_apply(enhanced_fuzzy_match, axis=1)
# Save the DataFrame back to a new SQL table
base_a_df.to_sql('base_a_with_matches', connection, if_exists='replace', index=False)
# Close the database connection
connection.close()

100%|██████████| 3747/3747 [27:13<00:00,  2.29it/s]